    <nav>
      <div class="container">
        <div class="menu">
          <ul>
            <li><a href="{{ site.url }}/about/">About</a></li>

            <li><a href="{{ site.url }}/work/">Work</a></li>

            <li><a href="{{ site.url }}/blog/">Blog</a></li>

            <li><a href="{{ site.url }}/contact/">Contact</a></li>
        </div> <!-- end of menu -->
        <div class="name">
            <span class="site-title"><a href="{{ site.url }}">Laura Lechner</a></span>
        </div>
      </div>
    </nav>
