$display: 'Open Sans', sans-serif;
$body: 'Pathway Gothic One', sans-serif;

body {
  font-size: 18px; // 18px
  line-height: 1.25em;
  font-family: $display;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #000000;

  &:hover {
    color: lighten(#000000, 50%);
  }
}

main {
  font-size: 18px;
  letter-spacing: 0.75px;

  a {
    color: #5DB167;
    text-decoration: underline;
  }
}

%headline {
  font-size: 1.75em; //31.5px = 1.75em
  font-family: $display;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 0.95em;
  margin: 0 auto;
  padding-bottom: 1em;
  letter-spacing: 3px;
}

h1 {
    @extend %headline;
    font-size: 2em; //31.5px = 1.75em
    line-height: 1.25em;
    margin: 0.6em auto;
    font-weight: bold;
}

.site-title {
  @extend %headline;
}

h2 {
  font-family: $display;
  font-style: italic;
  font-size: 1.5em;
  line-height: 1.25em;
  > a {
    color: black;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
  }
}

nav .menu {
  font-size: 0.93em; //16.8px = 0.93
  font-family: $display;
  text-transform: uppercase;
}

footer .credit {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

.ital {
  font-style: italic;
}

.dateline {
  font-weight: bold;
  color: grey;
  text-transform: uppercase;
  font-size: 0.85em;
  align-self: flex-end;
  margin-bottom: 1em;
}

.blog-title-container > h1 {
    font-style: italic;
    font-weight: unset;
}
