{% include head.html %}
{% include nav.html %}
<main class="basic-page">
  <div class="container page-title">
      <h1>{{ page.title }}</h1>
  </div>
  <div class="container">
      {% if page.publish-video %}
      <div class="work-container">
          <div class="video-container">
              <iframe src="https://player.vimeo.com/video/{{ page.vimeo-id }}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <div class="video-info">
              <div class="video-title">
                  <h2>{{ page.video-title }}</h2>
              </div>
              <div class="video-caption">
                  {{ page.video-caption }}
              </div>
          </div>
      </div><!-- end of .work-container -->
      {% endif %}
      {{ content }}
  </div>
</main>
{% include footer.html %}
