{% include head.html %}
{% include nav.html %}
<main class="home-page">
  <div class="container">
    {% assign items = site.project | sort: 'homepage-weight' %}
    {% for item in items %}
    <div class="front-page-tile">
        {% if item.permalink %}
        <a href="{{ site.url }}{{ item.permalink }}"><img src="{{ site.url }}/images/{{ item.homepage-image }}" alt=""></a>
        {% elsif item.homepage-link %}
        <a href="{{ item.homepage-link }}"><img src="{{ site.url }}/images/{{ item.homepage-image }}" alt=""></a>
        {% else %}
        <img src="{{ site.url }}/images/{{ item.homepage-image }}" alt="">
        {% endif %}
    </div>
    {% endfor %}
  </div>
</main>
{% include footer.html %}
