{% include head.html %}
{% include nav.html %}
<main class="work-page">
    <div class="container">
        {% assign items = site.project | sort: 'workpage-weight' %}
        {% for item in items %}
        {% if item.workpage %}
        <div class="work-container">
            <div class="video-container">
                <iframe src="https://player.vimeo.com/video/{{ item.vimeo-id }}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <div class="video-info">
                <div class="video-title">
                    <h2>{{ item.video-title }}</h2>
                </div>
                <div class="video-caption">
                    {{ item.video-caption }}
                </div>
            </div>
        </div><!-- end of .work-container -->
        {% endif %}
    {% endfor %}
  </div>
</main>
{% include footer.html %}
